.container{
    text-align: center;
    margin-top: 23px;
}
table{
margin: auto;
}
input{
    font-size: 34px;
}
button{
    border-radius: 20px;
    font-size: 40px;
    background: #938fa0;
    width: 102px;
    height: 58px;
}
.calculator{
    background-color: rgb(233, 116, 198);
    padding: 23px;
    border-radius: 53px;
}